<!doctype html><!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Registrar Pedido</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400italic,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>
    <link href='Imagenes/logo-final.png' rel='shortcut icon' type='image/png'>
    <link rel="stylesheet" href="Css/estilos_registro_ped.css">

  </head>
  <body>
    <section class="contenedor">
      <header>
        <section class="logo">
            <figure class="imagen_logo">
                <img src="Imagenes/logo-final.png">
            </figure>
        </section>
        <section class="usuario">

        </section>
      </header>
      <section class="navegacion">
        <nav>
          <a href="#"><h2>REGISTRAR PEDIDO</h2></a>
          <a href="#"><h2>CONFIRMAR PEDIDO</h2></a>
          <a href="#"><h2>DESPACHO PEDIDO</h2></a>
          <a href="#"><h2>MONITOREO VENTAS</h2></a>
        </nav>
      </section>
      <section class="imagen">
        <figure class="imagen_principal">
            <img src="Imagenes/imagen-pedir-pedido.png">
        </figure>
      </section>
      <section class="datos">
        <h1>DATOS DEL CLIENTE</h1>
        <form class="form_cliente" action="" method="post">
          <div class="">
            <label for="nom">Nombre</label>
            <input type="text" name="nombre" id="nom" placeholder="Escribe tu nombre">
          </div>
          <div class="">
            <h2>Ciudad</h2>
            <select class="ciudades" name="tipo">
              <option value="Chiclayo">Chiclayo</option>
              <option value="Trujillo">Trujillo</option>
              <option value="Piura">Piura</option>
              <option value="Lima">Lima</option>
            </select>
          </div>
          <div class="">
            <label for="dir" id="lab_dir">Dirección</label>
            <input type="text" name="direccion" id="dir" placeholder="Escribe tu direccion">
          </div>
          <div class="">
            <label for="pretele">Prefijo Telefónico</label>
            <input type="text" name="prefijo" id="pretele" readonly="">
          </div>
          <div class="">
            <label for="tel">Teléfono</label>
            <input type="tel" name="telefono" id="tel" placeholder="Escribe tu telefono">
          </div>
        </form>
      </section>
      <section class="productos">
        <h1>NUESTROS PRODUCTOS</h1>
        <section class="cada_prod">
          <section class="fila1">
            <section class="bloque">
              <figure>
                <img src="Imagenes/pizza1.jpg"  />
              </figure>
              <section class="nombre_pizza">
                <h2>Pizza Americana</h2>
              </section>
              <section class="desc_pizza">
                <p>
                  !La Pizza preferida de los chicos! Jamón y queso mozzarella
                </p>
              </section>
              <section class="precio_pizza">
                <h2>Precio:</h2>
                <h2>S/. 35.00</h2>
              </section>
              <section class="cantidad">
                <form class="" action="index.html" method="post">
                  <label for="cantidad">Cant:</label>
                  <input type="number" id="cantidad" name="cantidad">
                </form>
              </section>
              <section class="sub_total">
                <form class="" action="index.html" method="post">
                  <label for="subtotal">SubTotal:</label>
                  <input type="number" id="subtotal" name="subtotal" readonly="">
                </form>
              </section>
            </section>
            <section class="bloque">
              <figure>
                <img src="Imagenes/pizza1.jpg"  />
              </figure>
              <section class="nombre_pizza">
                <h2>Pizza Pepperoni</h2>
              </section>
              <section class="desc_pizza">
                <p>
                  Sabor incomparable de pepperoni americano y queso mozzarella.
                </p>
              </section>
              <section class="precio_pizza">
                <h2>Precio:</h2>
                <h2>S/. 45.00</h2>
              </section>
              <section class="cantidad">
                <form class="" action="index.html" method="post">
                  <label for="cantidad">Cant:</label>
                  <input type="number" id="cantidad" name="cantidad">
                </form>
              </section>
              <section class="sub_total">
                <form class="" action="index.html" method="post">
                  <label for="subtotal">SubTotal:</label>
                  <input type="number" id="subtotal" name="subtotal" readonly="">
                </form>
              </section>
            </section>
            <section class="bloque">
              <figure>
                <img src="Imagenes/pizza1.jpg"  />
              </figure>
              <section class="nombre_pizza">
                <h2>Pizza Continental</h2>
              </section>
              <section class="desc_pizza">
                <p>
                  Deliciosa mixtura de jamón, champignones, cebolla blanca y queso mozzarella.
                </p>
              </section>
              <section class="precio_pizza">
                <h2>Precio:</h2>
                <h2>S/. 45.00</h2>
              </section>
              <section class="cantidad">
                <form class="" action="index.html" method="post">
                  <label for="cantidad">Cant:</label>
                  <input type="number" id="cantidad" name="cantidad">
                </form>
              </section>
              <section class="sub_total">
                <form class="" action="index.html" method="post">
                  <label for="subtotal">SubTotal:</label>
                  <input type="number" id="subtotal" name="subtotal" readonly="">
                </form>
              </section>
            </section>
          </section>
          <section class="fila1">
            <section class="bloque">
              <figure>
                <img src="Imagenes/pizza1.jpg"  />
              </figure>
              <section class="nombre_pizza">
                <h2>Pizza Hawiaiana</h2>
              </section>
              <section class="desc_pizza">
                <p>
                  !El paraiso en la mesa! Se completa con jamon, jugosa piña y queso mozzarella.
                </p>
              </section>
              <section class="precio_pizza">
                <h2>Precio:</h2>
                <h2>S/. 45.00</h2>
              </section>
              <section class="cantidad">
                <form class="" action="index.html" method="post">
                  <label for="cantidad">Cant:</label>
                  <input type="number" id="cantidad" name="cantidad">
                </form>
              </section>
              <section class="sub_total">
                <form class="" action="index.html" method="post">
                  <label for="subtotal">SubTotal:</label>
                  <input type="number" id="subtotal" name="subtotal" readonly="">
                </form>
              </section>
            </section>
            <section class="bloque">
              <figure>
                <img src="Imagenes/pizza1.jpg"  />
              </figure>
              <section class="nombre_pizza">
                <h2>Pizza Vegetariana</h2>
              </section>
              <section class="desc_pizza">
                <p>
                  Exquisita combinación de champignones, aceitunas verdes, pimientos verdes, cebolla blanca y queso mozzarella.
                </p>
              </section>
              <section class="precio_pizza">
                <h2>Precio:</h2>
                <h2>S/. 45.00</h2>
              </section>
              <section class="cantidad">
                <form class="" action="index.html" method="post">
                  <label for="cantidad">Cant:</label>
                  <input type="number" id="cantidad" name="cantidad">
                </form>
              </section>
              <section class="sub_total">
                <form class="" action="index.html" method="post">
                  <label for="subtotal">SubTotal:</label>
                  <input type="number" id="subtotal" name="subtotal" readonly="">
                </form>
              </section>
            </section>
            <section class="bloque">
              <figure>
                <img src="Imagenes/pizza1.jpg"  />
              </figure>
              <section class="nombre_pizza">
                <h2>Pizza Alemana</h2>
              </section>
              <section class="desc_pizza">
                <p>
                  !Full sabor! Una pizza deliciosa con salchicha alemana, tocino, jamón y queso mozzarella.
                </p>
              </section>
              <section class="precio_pizza">
                <h2>Precio:</h2>
                <h2>S/. 45.00</h2>
              </section>
              <section class="cantidad">
                <form class="" action="index.html" method="post">
                  <label for="cantidad">Cant:</label>
                  <input type="number" id="cantidad" name="cantidad">
                </form>
              </section>
              <section class="sub_total">
                <form class="" action="index.html" method="post">
                  <label for="subtotal">SubTotal:</label>
                  <input type="number" id="subtotal" name="subtotal" readonly="">
                </form>
              </section>
            </section>
          </section>
          <section class="fila1">
            <section class="bloque">
              <figure>
                <img src="Imagenes/pizza1.jpg"  />
              </figure>
              <section class="nombre_pizza">
                <h2>Pizza Suprema</h2>
              </section>
              <section class="desc_pizza">
                <p>
                  Nuestra famosa combinación de pepperoni americano, carne de res, carne de cerdo, champignones, pimientos verdes, cebolla blanca y queso mozzarella.
                </p>
              </section>
              <section class="precio_pizza">
                <h2>Precio:</h2>
                <h2>S/. 45.00</h2>
              </section>
              <section class="cantidad">
                <form class="" action="index.html" method="post">
                  <label for="cantidad">Cant:</label>
                  <input type="number" id="cantidad" name="cantidad">
                </form>
              </section>
              <section class="sub_total">
                <form class="" action="index.html" method="post">
                  <label for="subtotal">SubTotal:</label>
                  <input type="number" id="subtotal" name="subtotal" readonly="">
                </form>
              </section>
            </section>
            <section class="bloque">
              <figure>
                <img src="Imagenes/pizza1.jpg"  />
              </figure>
              <section class="nombre_pizza">
                <h2>Pizza Meat Lovers</h2>
              </section>
              <section class="desc_pizza">
                <p>
                  !Un festín de carnes! Pepperoni americano, salchicha italiana, carne de res, carne decerdo, rebanadas de jamón y queso mozzarella.
                </p>
              </section>
              <section class="precio_pizza">
                <h2>Precio:</h2>
                <h2>S/. 45.00</h2>
              </section>
              <section class="cantidad">
                <form class="" action="index.html" method="post">
                  <label for="cantidad">Cant:</label>
                  <input type="number" id="cantidad" name="cantidad">
                </form>
              </section>
              <section class="sub_total">
                <form class="" action="index.html" method="post">
                  <label for="subtotal">SubTotal:</label>
                  <input type="number" id="subtotal" name="subtotal" readonly="">
                </form>
              </section>
            </section>
            <section class="bloque">
              <figure>
                <img src="Imagenes/pizza1.jpg"  />
              </figure>
              <section class="nombre_pizza">
                <h2>Pizza Super Suprema</h2>
              </section>
              <section class="desc_pizza">
                <p>
                  Una perfecta mezcla de pepperoni americano, carne de res, carne de cerdo, jamón rebanado, salchicha italiana, champignones, pimientos verdes, cebolla blanca, aceitunas verdes y queso mozzarella.
                </p>
              </section>
              <section class="precio_pizza">
                <h2>Precio:</h2>
                <h2>S/. 45.00</h2>
              </section>
              <section class="cantidad">
                <form class="" action="index.html" method="post">
                  <label for="cantidad">Cant:</label>
                  <input type="number" id="cantidad" name="cantidad">
                </form>
              </section>
              <section class="sub_total">
                <form class="" action="index.html" method="post">
                  <label for="subtotal">SubTotal:</label>
                  <input type="number" id="subtotal" name="subtotal" readonly="">
                </form>
              </section>
            </section>
          </section>
        </section>
      </section>
      <section class="montos">
        <h1>MONTOS DEL PEDIDO</h1>
        <form class="form_montos" action="" method="post">
          <div class="">
            <label for="imp_tot">Importe Total</label>
            <input type="text" name="imp_tot" id="imp_tot" readonly="">
          </div>
          <div class="">
            <label for="efec">Efectivo</label>
            <input type="number" name="efec" id="efec" >
          </div>
          <div class="">
            <label for="vuelto">Vuelto</label>
            <input type="text" name="vuelto" id="vuelto" readonly="">
          </div>
          <input type="submit" name="ingresar" value="INGRESAR PEDIDO">
          <input type="submit" id="cancelar" name="cancelar" value="CANCELAR PEDIDO">
        </form>

      </section>

      <footer>
        <h4>Fast Food | CopyRight 2015 </h4>

      </footer>
    </section>
  </body>
</html>
