<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Registrar Pedido</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="fonts_fontello/style.css" >
    <link rel="stylesheet" href="Css/bootstrap.css">
    <link rel="stylesheet" href="Css/css_registrar.css">
    <link href='Imagenes/logo-final.png' rel='shortcut icon' type='image/png'>
  </head>
  <body>
    <section class="contenedor-total container-fluid">
      <header>
        <nav class="navegacion navbar navbar-inverse navbar-fixed-top ">
          <section class="navbar-hader">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navegador1" aria-expanded="false">
                <span class="sr-only">Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Fast Food</a>
          </section>

          <section class="collapse navbar-collapse" id="navegador1">
            <ul class="navegador-izq nav navbar-nav navbar-right">
              <li><a href="#">Daniel Sanchez Mendez</a></li>
              <li><a href="#">Chiclayo</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="login.html">Salir</a></li>
            </ul>
          </section>
        </nav>
      </header>
      <section class="fila row">
        <section class="imagen col-xs-12">
          <figure class="imagen_principal">
              <img src="Imagenes/portada_registrar.png" class="img-responsive">
          </figure>
        </section>
        <section class="navegador2 col-xs-12 col-sm-12">
          <nav class="navegacion2_sub navbar navbar-inverse">
            <section class="navbar-hader">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navegador2" aria-expanded="false">
                  <span class="sr-only">Menu</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"></a>
            </section>

            <section class=" collapse navbar-collapse " id="navegador2">
              <ul class=" row navegador-acciones nav  nav-justified">
                <li class="col-sm-3 col-md-3"><a class="text-center" href="#">REGISTRAR PEDIDO</a></li>
                <li class="col-sm-3 col-md-3 "><a class="text-center" href="confirmar.html">CONFIRMAR PEDIDO</a></li>
                <li class="col-sm-3 col-md-3 disabled"><a class="text-center" href="#">DESPACHO PEDIDO</a></li>
                <li class="col-sm-3 col-md-3 disabled"><a class="text-center" href="#">MONITOREO VENTAS</a></li>
              </ul>
            </section>
          </nav>
        </section>
        <section class="seccion1 col-xs-12 ">
          <div class="container">
            <h1>DATOS DEL CLIENTE</h1>
            <section class="formulario-cont container-fluid">
              <form class="form-1 row" action="" method="post">
                <section class="form-group col-xs-12 col-md-8">
                  <label for="nom"><span class="icon-user"></span>Nombre</label>
                  <input type="text" class="form-control input-lg" name="nom" placeholder="Ingresa tu nombre">
                </section>
                <section class="form-group col-xs-12 col-md-6">
                  <label for="ciud"><span class="icon-compass2"></span>Ciudad</label>
                  <select class="opciones form-control input-lg" name="tipo">
                    <option value="Chiclayo">Chiclayo</option>
                    <option value="Lima">Lima</option>
                    <option value="Trujillo">Trujillo</option>
                    <option value="Piura">Piura</option>
                    <option value="Tumbes">Tumbes</option>
                    <option value="Cajamarca">Cajamarca</option>
                    <option value="Arequipa">Arequipa</option>
                    <option value="Ica">Ica</option>
                    <option value="Cusco">Cusco</option>
                  </select>
                </section>
                <section class="form-group col-xs-12 col-md-6">
                  <label for="direc"><span class="icon-ubicacion"></span>Dirección</label>
                  <input type="text" class="form-control input-lg" name="direc" placeholder="Ingresa tu dirección">
                </section>
                <section class="form-group col-xs-12 col-md-4">
                  <label for="telef"><span class="icon-telefono"></span>Telefono</label>
                  <input type="number" class="form-control input-lg" name="telef" placeholder="Ingresa tu telefono">
                </section>
              </form>
            </section>
          </div>
        </section>
        <section class="seccion2 col-xs-12">
          <div class="container">
            <h1>NUESTROS PRODUCTOS</h1>
            <section class="container-fluid">
              <section class="fila-productos row">
              <section class="columna-producto col-xs-12 col-sm-6 col-md-4">
                <section class="">
                  <figure class="foto-producto col-xs-12">
                    <img src="Imagenes/pizza-americana.png" class="img-responsive" />
                  </figure>
                  <section class="nombre-pizza col-xs-12">
                    <h2 class="text-center">Pizza Americana</h2>
                  </section>
                  <section class="desc-pizza col-xs-12">
                    <p class="text-center">
                      !La Pizza preferida de los chicos! Jamón y queso mozzarella
                    </p>
                  </section>
                  <section class="col-xs-12">
                    <section class="precio-pizza row">
                      <h2 class="col-xs-6">Precio:</h2>
                      <h2 class="col-xs-6 text-center">S/. 35.00</h2>
                    </section>
                  </section>
                  <section class="cantidad col-xs-6">
                    <form class="" action="" method="post">
                      <section class="form-group">
                        <label for="cantidad">Cant:</label>
                        <input type="number" class="form-control" id="cantidad" name="cantidad">
                      </section>
                    </form>
                  </section>
                  <section class="subtotal col-xs-6">
                    <form class="" action="index.html" method="post">
                      <section class="form-group">
                        <label for="subtotal">SubTotal:</label>
                        <input type="number" class="form-control" id="subtotal" name="subtotal" readonly="">
                      </section>
                    </form>
                  </section>
                </section>
              </section>
              <section class="columna-producto col-xs-12 col-sm-6 col-md-4">
                <section class="">
                  <figure class="foto-producto col-xs-12">
                    <img src="Imagenes/pizza-pepperoni.png" class="img-responsive" />
                  </figure>
                  <section class="nombre-pizza col-xs-12">
                    <h2 class="text-center">Pizza Pepperoni</h2>
                  </section>
                  <section class="desc-pizza col-xs-12">
                    <p class="text-center">
                      !La Pizza preferida de los chicos! Jamón y queso mozzarella
                    </p>
                  </section>
                  <section class="col-xs-12">
                    <section class="precio-pizza row">
                      <h2 class="col-xs-6">Precio:</h2>
                      <h2 class="col-xs-6 text-center">S/. 35.00</h2>
                    </section>
                  </section>
                  <section class="cantidad col-xs-6">
                    <form class="" action="" method="post">
                      <section class="form-group">
                        <label for="cantidad">Cant:</label>
                        <input type="number" class="form-control" id="cantidad" name="cantidad">
                      </section>
                    </form>
                  </section>
                  <section class="subtotal col-xs-6">
                    <form class="" action="index.html" method="post">
                      <section class="form-group">
                        <label for="subtotal">SubTotal:</label>
                        <input type="number" class="form-control" id="subtotal" name="subtotal" readonly="">
                      </section>
                    </form>
                  </section>
                </section>
              </section>
              <section class="columna-producto col-xs-12 col-sm-6 col-md-4">
                <section class="">
                  <figure class="foto-producto col-xs-12">
                    <img src="Imagenes/pizza-continental.png" class="img-responsive" />
                  </figure>
                  <section class="nombre-pizza col-xs-12">
                    <h2 class="text-center">Pizza Continental</h2>
                  </section>
                  <section class="desc-pizza col-xs-12">
                    <p class="text-center">
                      !La Pizza preferida de los chicos! Jamón y queso mozzarella
                    </p>
                  </section>
                  <section class="col-xs-12">
                    <section class="precio-pizza row">
                      <h2 class="col-xs-6">Precio:</h2>
                      <h2 class="col-xs-6 text-center">S/. 35.00</h2>
                    </section>
                  </section>
                  <section class="cantidad col-xs-6">
                    <form class="" action="" method="post">
                      <section class="form-group">
                        <label for="cantidad">Cant:</label>
                        <input type="number" class="form-control" id="cantidad" name="cantidad">
                      </section>
                    </form>
                  </section>
                  <section class="subtotal col-xs-6">
                    <form class="" action="index.html" method="post">
                      <section class="form-group">
                        <label for="subtotal">SubTotal:</label>
                        <input type="number" class="form-control" id="subtotal" name="subtotal" readonly="">
                      </section>
                    </form>
                  </section>
                </section>
              </section>
            </section>
            <section class="fila-productos row">
              <section class="columna-producto col-xs-12 col-sm-6 col-md-4">
                <section class="">
                  <figure class="foto-producto col-xs-12">
                    <img src="Imagenes/pizza-hawaiana.png" class="img-responsive" />
                  </figure>
                  <section class="nombre-pizza col-xs-12">
                    <h2 class="text-center">Pizza Hawaiana</h2>
                  </section>
                  <section class="desc-pizza col-xs-12">
                    <p class="text-center">
                      !La Pizza preferida de los chicos! Jamón y queso mozzarella
                    </p>
                  </section>
                  <section class="col-xs-12">
                    <section class="precio-pizza row">
                      <h2 class="col-xs-6">Precio:</h2>
                      <h2 class="col-xs-6 text-center">S/. 35.00</h2>
                    </section>
                  </section>
                  <section class="cantidad col-xs-6">
                    <form class="" action="" method="post">
                      <section class="form-group">
                        <label for="cantidad">Cant:</label>
                        <input type="number" class="form-control" id="cantidad" name="cantidad">
                      </section>
                    </form>
                  </section>
                  <section class="subtotal col-xs-6">
                    <form class="" action="index.html" method="post">
                      <section class="form-group">
                        <label for="subtotal">SubTotal:</label>
                        <input type="number" class="form-control" id="subtotal" name="subtotal" readonly="">
                      </section>
                    </form>
                  </section>
                </section>
              </section>
              <section class="columna-producto col-xs-12 col-sm-6 col-md-4">
                <section class="">
                  <figure class="foto-producto col-xs-12">
                    <img src="Imagenes/pizza-vegetariana.png" class="img-responsive" />
                  </figure>
                  <section class="nombre-pizza col-xs-12">
                    <h2 class="text-center">Pizza Vegetariana</h2>
                  </section>
                  <section class="desc-pizza col-xs-12">
                    <p class="text-center">
                      !La Pizza preferida de los chicos! Jamón y queso mozzarella
                    </p>
                  </section>
                  <section class="col-xs-12">
                    <section class="precio-pizza row">
                      <h2 class="col-xs-6">Precio:</h2>
                      <h2 class="col-xs-6 text-center">S/. 35.00</h2>
                    </section>
                  </section>
                  <section class="cantidad col-xs-6">
                    <form class="" action="" method="post">
                      <section class="form-group">
                        <label for="cantidad">Cant:</label>
                        <input type="number" class="form-control" id="cantidad" name="cantidad">
                      </section>
                    </form>
                  </section>
                  <section class="subtotal col-xs-6">
                    <form class="" action="index.html" method="post">
                      <section class="form-group">
                        <label for="subtotal">SubTotal:</label>
                        <input type="number" class="form-control" id="subtotal" name="subtotal" readonly="">
                      </section>
                    </form>
                  </section>
                </section>
              </section>
              <section class="columna-producto col-xs-12 col-sm-6 col-md-4">
                <section class="">
                  <figure class="foto-producto col-xs-12">
                    <img src="Imagenes/pizza-suprema.png" class="img-responsive" />
                  </figure>
                  <section class="nombre-pizza col-xs-12">
                    <h2 class="text-center">Pizza Suprema</h2>
                  </section>
                  <section class="desc-pizza col-xs-12">
                    <p class="text-center">
                      !La Pizza preferida de los chicos! Jamón y queso mozzarella
                    </p>
                  </section>
                  <section class="col-xs-12">
                    <section class="precio-pizza row">
                      <h2 class="col-xs-6">Precio:</h2>
                      <h2 class="col-xs-6 text-center">S/. 35.00</h2>
                    </section>
                  </section>
                  <section class="cantidad col-xs-6">
                    <form class="" action="" method="post">
                      <section class="form-group">
                        <label for="cantidad">Cant:</label>
                        <input type="number" class="form-control" id="cantidad" name="cantidad">
                      </section>
                    </form>
                  </section>
                  <section class="subtotal col-xs-6">
                    <form class="" action="index.html" method="post">
                      <section class="form-group">
                        <label for="subtotal">SubTotal:</label>
                        <input type="number" class="form-control" id="subtotal" name="subtotal" readonly="">
                      </section>
                    </form>
                  </section>
                </section>
              </section>
            </section>
            <section class="fila-productos row">
              <section class="columna-producto col-xs-12 col-sm-6 col-md-4">
                <section class="">
                  <figure class="foto-producto col-xs-12">
                    <img src="Imagenes/pizza-alemana.png" class="img-responsive" />
                  </figure>
                  <section class="nombre-pizza col-xs-12">
                    <h2 class="text-center">Pizza Alemana</h2>
                  </section>
                  <section class="desc-pizza col-xs-12">
                    <p class="text-center">
                      !La Pizza preferida de los chicos! Jamón y queso mozzarella
                    </p>
                  </section>
                  <section class="col-xs-12">
                    <section class="precio-pizza row">
                      <h2 class="col-xs-6">Precio:</h2>
                      <h2 class="col-xs-6 text-center">S/. 35.00</h2>
                    </section>
                  </section>
                  <section class="cantidad col-xs-6">
                    <form class="" action="" method="post">
                      <section class="form-group">
                        <label for="cantidad">Cant:</label>
                        <input type="number" class="form-control" id="cantidad" name="cantidad">
                      </section>
                    </form>
                  </section>
                  <section class="subtotal col-xs-6">
                    <form class="" action="index.html" method="post">
                      <section class="form-group">
                        <label for="subtotal">SubTotal:</label>
                        <input type="number" class="form-control" id="subtotal" name="subtotal" readonly="">
                      </section>
                    </form>
                  </section>
                </section>
              </section>
              <section class="columna-producto col-xs-12 col-sm-6 col-md-4">
                <section class="">
                  <figure class="foto-producto col-xs-12">
                    <img src="Imagenes/pizza-meat.png" class="img-responsive" />
                  </figure>
                  <section class="nombre-pizza col-xs-12">
                    <h2 class="text-center">Pizza Meat Lovers</h2>
                  </section>
                  <section class="desc-pizza col-xs-12">
                    <p class="text-center">
                      !La Pizza preferida de los chicos! Jamón y queso mozzarella
                    </p>
                  </section>
                  <section class="col-xs-12">
                    <section class="precio-pizza row">
                      <h2 class="col-xs-6">Precio:</h2>
                      <h2 class="col-xs-6 text-center">S/. 35.00</h2>
                    </section>
                  </section>
                  <section class="cantidad col-xs-6">
                    <form class="" action="" method="post">
                      <section class="form-group">
                        <label for="cantidad">Cant:</label>
                        <input type="number" class="form-control" id="cantidad" name="cantidad">
                      </section>
                    </form>
                  </section>
                  <section class="subtotal col-xs-6">
                    <form class="" action="index.html" method="post">
                      <section class="form-group">
                        <label for="subtotal">SubTotal:</label>
                        <input type="number" class="form-control" id="subtotal" name="subtotal" readonly="">
                      </section>
                    </form>
                  </section>
                </section>
              </section>
              <section class="columna-producto col-xs-12 col-sm-6 col-md-4">
                <section class="">
                  <figure class="foto-producto col-xs-12">
                    <img src="Imagenes/pizza-super.png" class="img-responsive" />
                  </figure>
                  <section class="nombre-pizza col-xs-12">
                    <h2 class="text-center">Pizza Super Suprema</h2>
                  </section>
                  <section class="desc-pizza col-xs-12">
                    <p class="text-center">
                      !La Pizza preferida de los chicos! Jamón y queso mozzarella
                    </p>
                  </section>
                  <section class="col-xs-12">
                    <section class="precio-pizza row">
                      <h2 class="col-xs-6">Precio:</h2>
                      <h2 class="col-xs-6 text-center">S/. 35.00</h2>
                    </section>
                  </section>
                  <section class="cantidad col-xs-6">
                    <form class="" action="" method="post">
                      <section class="form-group">
                        <label for="cantidad">Cant:</label>
                        <input type="number" class="form-control" id="cantidad" name="cantidad">
                      </section>
                    </form>
                  </section>
                  <section class="subtotal col-xs-6">
                    <form class="" action="index.html" method="post">
                      <section class="form-group">
                        <label for="subtotal">SubTotal:</label>
                        <input type="number" class="form-control" id="subtotal" name="subtotal" readonly="">
                      </section>
                    </form>
                  </section>
                </section>
              </section>
            </section>
            </section>
          </div>
        </section>
        <section class="seccion3 col-xs-12 ">
          <div class="container">
            <h1>MONTOS DEL PEDIDO</h1>
            <section class="formulario-cont container-fluid">
              <form class="form-3 row" action="" method="post">
                <section class="form-group col-xs-12 col-md-6">
                  <label for="importe">Importe Total</label>
                  <input type="text" class="form-control" name="importe" >
                </section>
                <section class="form-group col-xs-12 col-md-6">
                  <label for="efect">Efectivo</label>
                  <input type="text" class="form-control" name="efect" >
                </section>
                <section class="form-group col-xs-12 col-md-6">
                  <label for="vuelto">Vuelto</label>
                  <input type="text" class="form-control" name="vuelto" >
                </section>
                <div class="col-xs-12">
                  <div class="container">
                    <input type="submit" class="boton-ing  col-xs-12 col-md-5 input-lg " name="ingresar" value="INGRESAR PEDIDO">
                    <input type="submit" class="boton-can  col-xs-12 col-md-5 col-md-offset-1 input-lg" id="cancelar" name="cancelar" value="CANCELAR PEDIDO">
                  </div>
                </div>

              </form>
            </section>
          </div>
        </section>
      </section>
      <footer class="container-fluid">
        <div class="container text-center">
          <span class="icon-facebook2"></span>
          <span class="icon-twitter2"></span>
          <h4 class="">Fast Food | CopyRight 2015 </h4>
          <span class="icon-youtube"></span>
          <span class="icon-github3"></span>
        </div>
      </footer>

    </section>

    <!-- JQUERY AND SCRIP bootstrap -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <!-- JQUERY AND SCRIP bootstrap
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script> -->
  </body>
</html>
